// Custom styles.
body { background:url(/images/test7.jpg) top center fixed;}
.content {
    z-index: 1;
}
.content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: -1;
}
.feed-link a{display: inline-block;}
.fa-github:hover{color:#4E287B;}
.fa-weibo:hover{color:#F5231C;}
